@import '../../theme/conf';
.menu-wrap {
    padding: 0;
    width: 250px;
    height: auto;
    padding-top: 30px;
}

.menu-item {
    margin: 0;
    list-style: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    .menu-link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        height: 50px;
        outline: none;
        margin-bottom: 20px;
        text-transform: capitalize;
        font-size: 14PX;
        background: transparent;
        border-left: 3px solid transparent;
        color: #919EAB;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            color: #000;
            background: #eec87d;
        }
        .placeholder,
        .text,
        .direction {
            display: block;
            height: 50px;
            line-height: 50px;
            font-size: $sm-text+1;
        }

        .text{font-size: 14px}
        
        .placeholder {
            width: 47px;
            text-align: center;
            margin-right:0px;
        }
        .text {
            flex: 1;
        }
        .direction {
            width: 50px;
            @include transition(transform .2s);
            @include transform(rotate(0deg));
        }
    }
    .menu-link.active i {
        //@include linear-gradient(to right, $primary, #e0cbff);
        border-left: 3px solid $primary;
        color: $primary;
    }
    a.menu-link i {
        font-size: 18px
    }    
    a.menu-link.active  {
        //@include linear-gradient(to right, $primary, #e0cbff);
        color: #000;
    }
}

.item-toggle-on {
    >.menu-link {
        .direction {
            @include transform(rotate(90deg));
        }
    }
}

.item-children {
    .menu-wrap {
        background: rgba($black, .05);
    }
}

@media (max-width:1440px) {
    .menu-wrap {
        width: 210px;
    }
}