@import '../shared/theme/conf';
.pages-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $body-bg;
}

.pages-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: transparent;
    overflow-x: hidden;
    .pages-content {
        padding: 15px;
        flex: 1;
        background-color: #f9fafb;
        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
        color: $fonts-color;
        overflow-x: hidden;
        -moz-transition:all 200ms ease-in;
        -webkit-transition:all 200ms ease-in;
        -o-transition:all 200ms ease-in;
        transition:all 200ms ease-in;
    }
}