<div class="pages-wrap">
  <pages-top></pages-top>
  <div class="pages-body">
      <input type="checkbox" id="navigation" />
      <label class="mlabel" for="navigation">
        <i class="fa fa-close"> </i><span>Admin Access</span>
      </label>
    <sidebar></sidebar>
    <app-second-sidebar id="s-l-nav"></app-second-sidebar>
    <div class="pages-content">

      <router-outlet></router-outlet>
      <notification></notification>
    </div>

    <!-- <right-config></right-config> -->
  </div>
</div>
<loading [loading]="false"></loading>