<div class="top-page">
  <div class="row">
    <div class=" col-xs-4">
      <h3 class="pagetitle">
        <a href="">groups</a>
      </h3>
    </div>

    <div class=" col-xs-8 text-right">
      <div class="top-bar-table">
        <button type="button" class="trash-btn" data-toggle="modal" data-target="#creatModal"  [disabled]="checkedList.length == 0">
          <i class="fa fa-trash"></i>
        </button>

        <select class="arco-select" [(ngModel)]="order">
          <option value="">sort by</option>
          <option value="name">Name</option>
          <option value="description">description</option>
        </select>

        <button class="add-new" id="add-new">
          <i class="fa fa-plus"></i>new</button>
      </div>

    </div>
  </div>

</div>

<div class="card card-block animated fadeIn">

  <div class="tableinner">
    <div class="table-responsive">
      <table class="table arco-table ">

        <thead class="h-table">

          <th>
            <!-- <input class="checkbox" type="checkbox" id="default-checkbox1">
            <label class="check-label" for="default-checkbox1"></label> -->
          </th>
          <th> # </th>
          <th>Name</th>
          <th>Desciption</th>
        </thead>
        <tbody>

          <tr *ngFor="let group of groups  index as i ">
            <td>
              <input class="checkbox" name="groups_ids{{group.id}}" type="checkbox" id="default-checkbox{{group.id}}" (change)="onCheckboxChange(group,$event)">
              <label class="check-label" for="default-checkbox{{group.id}}"></label>
            </td>

            <td class="main-color">
              <a class="edit-new" (click)="editGroup(group)">{{i + 1}}</a>
            </td>
            <td>{{group.name}}</td>
            <td>{{group.description}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- right sidebar -->

<div class="right-sbar" id="sbar-add">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar">
      <i class="fa fa-close"></i>
    </span>
    <h4>New Group</h4>
  </div>

  <form ngNativeValidate action="" (submit)="createGroup(newGroup)">
    <div class="right-sbar-form">

      <input required type="text" class="form-control" placeholder="name.." id="" name="name" [(ngModel)]="newGroup.name">
      <textarea required name="description" id="" cols="30" rows="5" placeholder="desciption" class="form-control" [(ngModel)]="newGroup.description"></textarea>

    </div>

    <div class="option-btn">
      <button type="submit" class="aroc-btn">Add</button>
      <button type="button" class="aroc-btn-2" type="button">Cancel</button>
    </div>
  </form>

</div>

<div class="right-sbar" id="sbar-edit">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar2">
      <i class="fa fa-close"></i>
    </span>
    <h4>Edit Role</h4>
  </div>

  <form ngNativeValidate action="" (submit)="updateGroup(currentGroup)">

    <div class="right-sbar-form">
      <input required type="text" class="form-control" placeholder="name.." id="" name="name" [(ngModel)]="currentGroup.name">
      <textarea required name="description" id="" cols="30" rows="5" placeholder="desciption" class="form-control" [(ngModel)]="currentGroup.description"></textarea>
    </div>

    <div class="option-btn">
      <button type="submit" class="aroc-btn">Update</button>
      <button type="button" class="aroc-btn-2" type="button">Cancel</button>
    </div>
  </form>

</div>



<!-- Modal -->
<div class="modal fade" id="creatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete the selected roles?</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn p-arco-btn" data-dismiss="modal" (click)="bulkDeleteGroup()"> Confirm </button>
      </div>
    </div>
  </div>
</div>