.second-sidebar{
    background-color:#FAF6EE;
    width: 242px;
    position: fixed;
    overflow: scroll;
	left: 0;
    height: 100%;
    z-index: 2;
    padding: 20px ;
    margin:0 0 0 0;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 103px;
    .slide-menu{
        position: static;
        display:block;
        background:#FAF6EE;
        transform: translateX(0) !important;
        width: 100%;
        text-align: center;
       
    }
    .slide-menu-control{
        color: #858585;
        position: absolute;
        top: -32px;
        background: none;
        left: 0;
        z-index: 2;
        border: none;
    }
}

.s-nav{top: 96px;}
.s-nav::before{
    content: "super admin";
    text-align: left;
    position: absolute;
    top: -90px;
    left: 13px;
    font-family: 'Avenir-Heavy';
    font-size: 16px;
    text-transform: capitalize;
    color: #242424;
}

.slide-menu ul li{
    display: inline-block;
    text-align: center;width: 100%;
}
.dl-head ul li::after{
    content:">";
    position: absolute;
    margin-left: 5px;
}
.dl-head ul li:last-child::after{content: none}
.dl-head ul li a{
    font-size: 16px;
    color: #7D4A00;
    letter-spacing: 0;
    font-weight: bold
}
.dl-menu {margin-top: 20px}
.slide-menu li a{
    display: block !important;
    background-color:#EEC87D;
    color: #242424 !important;
    text-align: center;
    opacity: 0.7;
    border-bottom:5px solid transparent;
    margin-bottom: 20px;    
    padding: 25px 5px;
    height: 64px;
    width: 178px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: 'Avenir-Medium';
    text-transform: capitalize;
    cursor: pointer;
}

.slide-menu li a:hover,.dl-menu li a.active{
    opacity: 1;
    border-bottom: 5px solid #b7995f;
    transition: 0.2s linear 
    
}
.slide-menu li a.active{
    border-color: #b7995f;
    opacity: 1;
    background-color: #EEC87D;
}
