<div class="second-sidebar" id="">
   
  <nav class="slide-menu" id="s-l-sidebar">
        
      <ul class="s-nav">

        <li><a>create compound</a>
          <ul>
            <li>
          <button type="button" class="btn slide-menu-control" data-action="back"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
              
            </li>
            <li><a  routerLink="/pages/zons" routerLinkActive="active">zones</a></li>
            <li><a  routerLink="/pages/types" routerLinkActive="active">types</a></li>
            <li><a  routerLink="/pages/units" routerLinkActive="active">units</a></li>
            <li><a  routerLink="/pages/facilites" routerLinkActive="active">facilities</a></li>
          </ul> 
        </li>
      
        
        <!-- <li><a href="#">Services</a>
          <ul>
            <li><a href="#">Submenu entry</a></li>
            <li><a href="#">Submenu entry</a>
              <ul>
                <li><a href="#">Subsubmenu entry</a></li>
                <li><a href="#">Subsubmenu entry</a></li>
                <li><a href="#">Subsubmenu entry</a></li>
                <li><a href="#">Subsubmenu entry</a></li>
                <li><a href="#">Subsubmenu entry</a></li>
              </ul>
            </li>
            <li><a href="#">Submenu entry</a></li>
            <li><a href="#">Submenu entry</a></li>
            <li><a href="#">Submenu entry</a></li>
          </ul>
        </li> -->
        
      </ul>
    </nav>

</div>