<div class="top-page">
  <div class="row">
    <div class=" col-xs-4">
      <h3 class="pagetitle">
        <a href="">zones</a>
      </h3>
    </div>

    <div class=" col-xs-8 text-right">
      <div class="top-bar-table">
        <button type="button" class="trash-btn" data-toggle="modal" data-target="#creatModal"  [disabled]="checkedList.length == 0">
          <i class="fa fa-trash"></i>
        </button>

        <select class="arco-select" [(ngModel)]="order">
          <option value="">sort by</option>
          <option value="name">Name</option>
          <option value="unit_count">Unit Count</option>
          <option value="facilities_count">Facilities Count</option>
        </select>
        <button class="add-new" id="add-new">
          <i class="fa fa-plus"></i>New</button>
      </div>

    </div>
  </div>

</div>


<div class="card card-block animated fadeIn">
  <div class="tableinner">
    <div class="table-responsive">
      <table class="table arco-table ">

        <thead class="h-table">

          <th>
            <input class="checkbox" type="checkbox" id="default-checkbox">
            <label class="check-label" for="default-checkbox"></label>
          </th>
          <th> # </th>
          <th>Name</th>
          <th>Desciption</th>
          <th>Num of Units</th>
          <th>Num of Facilities</th>
        </thead>
        <tbody>

          <tr *ngFor="let zone of zones | orderBy: order; index as i">
            <td>
              <input class="checkbox" name="zone_ids{{zone.id}}" type="checkbox" id="default-checkbox{{zone.id}}" (change)="onCheckboxChange(zone,$event)">
              <label class="check-label" for="default-checkbox{{zone.id}}"></label>
            </td>
            <td class="main-color">
              <a class="edit-new" (click)="editZone(zone)">{{i + 1}}</a>
            </td>
            <td>{{zone.name}}</td>
            <td>{{zone.description}}</td>
            <td>{{zone.units_count}}</td>
            <td>{{zone.facilities_count}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- right sidebar for add -->
<div class="right-sbar" id="sbar-add">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar">
      <i class="fa fa-close"></i>
    </span>
    <h4>New Zone</h4>
  </div>

  <form ngNativeValidate #addForm="ngForm" (submit)="createZone(newZone)">
    <div class="right-sbar-form">

      <input required type="text" class="form-control" placeholder="name.." id="" name="name" [(ngModel)]="newZone.name">
      <textarea required name="" id="" cols="30" rows="5" placeholder="desciption" name="description" class="form-control" [(ngModel)]="newZone.description"></textarea>

    </div>

    <div class="option-btn">
      <button type="submit" class="aroc-btn" [disabled]="!addForm.form.valid">Add</button>
      <button type="button" class="aroc-btn-2">Cancel</button>
    </div>
  </form>

</div>

<!-- sidebar for edit -->
<div class="right-sbar" id="sbar-edit">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar2">
      <i class="fa fa-close"></i>
    </span>
    <h4>Edit Zone</h4>
  </div>

  <form  ngNativeValidate #editForm="ngForm" (submit)="updateZone(currentZone)">
    <div class="right-sbar-form">

      <input required="text" class="form-control" placeholder="name.." id="" name="name" [(ngModel)]="currentZone.name">

      <textarea required name="" id="" cols="30" rows="5" placeholder="desciption" name="description" class="form-control" [(ngModel)]="currentZone.description"></textarea>

    </div>

    <div class="option-btn">
      <button class="aroc-btn" [disabled]="!editForm.form.valid">Update</button>
      <button type="button" class="aroc-btn-2" type="button">Cancel</button>
    </div>
  </form>

</div>



<!-- Modal -->
<div class="modal fade" id="creatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete the selected zones?</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn p-arco-btn" data-dismiss="modal" (click)="confirmDeleteZone()"> Confirm </button>
      </div>
    </div>
  </div>
</div>