<div class="top-page">
  <div class="row">
    <div class=" col-xs-4">
      <h3 class="pagetitle">
        <a href="">categories</a>
      </h3>
    </div>

    <div class=" col-xs-8 text-right">
      <div class="top-bar-table">
        <button type="button" class="trash-btn" data-toggle="modal" data-target="#creatModal" [disabled]="checkedList.length == 0">
          <i class="fa fa-trash"></i>
        </button>

        <select class="arco-select" [(ngModel)]="order">
          <option value="">sort by</option>
          <option value="name">Name</option>
          <option value="description">description</option>
        </select>

        <button class="add-new" id="add-new">
          <i class="fa fa-plus"></i>new</button>
      </div>

    </div>
  </div>

</div>

<div class="card card-block animated fadeIn">

  <div class="tableinner">
    <div class="table-responsive">
      <table class="table arco-table ">

        <thead class="h-table">

          <th>
            <input class="checkbox" type="checkbox" id="default-checkbox">
            <label class="check-label" for="default-checkbox"></label>
          </th>
          <th> # </th>
          <th> Name</th>
          <th>Desciption</th>
        </thead>
        <tbody>


          <tr *ngFor="let cat of categories | orderBy: order; index as i">
            <td>
              <input class="checkbox" name="cats_ids{{cat.id}}" type="checkbox" id="default-checkbox{{cat.id}}" (change)="onCheckboxChange(cat,$event)">
              <label class="check-label" for="default-checkbox{{cat.id}}"></label>
            </td>
            <td class="main-color">
              <a class="edit-new" (click)="editCategory(cat)">{{i + 1}}</a>
            </td>
            <td>{{cat.name}}</td>
            <td>{{cat.description}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>


<div class="right-sbar" id="sbar-add">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar">
      <i class="fa fa-close"></i>
    </span>
    <h4>new category</h4>
  </div>


  <div class="right-sbar-form">

    <form ngNativeValidate action="" (submit)="createCategory(newCategory)">
      <input required name="name" type="text" class="form-control" placeholder="name.." id="" [(ngModel)]="newCategory.name" #Name="ngModel">

      <input required name="description" type="text" class="form-control" placeholder="contact id.." id="" [(ngModel)]="newCategory.description">

      <div class="option-btn">
        <button type="submit" class="aroc-btn">add</button>
        <button type="button" class="aroc-btn-2" type="button">cancel</button>
      </div>
    </form>

  </div>
</div>

<div class="right-sbar" id="sbar-edit">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar2">
      <i class="fa fa-close"></i>
    </span>
    <h4>Edit category</h4>
  </div>


  <div class="right-sbar-form">

    <form ngNativeValidate action="" (submit)="updateCategory(currentCategory)">
      <input required name="name" type="text" class="form-control" placeholder="name.." id="" [(ngModel)]="currentCategory.name">
      <input required name="description" type="text" class="form-control" placeholder="contact id.." id="" [(ngModel)]="currentCategory.description">

      <div class="option-btn">
        <button type="submit" class="aroc-btn">Update</button>
        <button type="button" class="aroc-btn-2" type="button">Cancel</button>
      </div>
    </form>

  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="creatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete the selected bills?</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn p-arco-btn" data-dismiss="modal" (click)="confirmDeleteCategory()"> Confirm </button>
      </div>
    </div>
  </div>
</div>