<div class="top-page">
  <div class="row">
    <div class=" col-xs-4">
      <h3 class="pagetitle">
        <a href="">facilites</a>
      </h3>
    </div>

    <div class=" col-xs-8 text-right">
      <div class="top-bar-table">
        <button type="button" class="trash-btn" data-toggle="modal" data-target="#creatModal" [disabled]="checkedList.length == 0">
          <i class="fa fa-trash"></i>
        </button>

        <select class="arco-select" [(ngModel)]="order">
          <option value="">sort by</option>
          <option value="name">Name</option>
          <option value="description">description</option>
        </select>

        <button class="add-new" id="add-new">
          <i class="fa fa-plus"></i>new</button>
      </div>

    </div>
  </div>

</div>


<div class="card card-block animated fadeIn">

  <div class="tableinner">
    <div class="table-responsive">
      <table class="table arco-table ">

        <thead class="h-table">

          <th>
            <input class="checkbox" type="checkbox" id="default-checkbox">
            <label class="check-label" for="default-checkbox "></label>
          </th>
          <th> # </th>
          <th>Name</th>
          <th>Desciption</th>
          <th>Zone</th>
          <th>Type</th>
        </thead>
        <tbody>

          <tr *ngFor="let fac of facilities | orderBy: order; index as i">
            <td>
              <input class="checkbox" name="facilities_ids{{fac.id}}" type="checkbox" id="default-checkbox{{fac.id}}" (change)="onCheckboxChange(fac,$event)">
              <label class="check-label" for="default-checkbox{{fac.id}}"></label>
            </td>
            <td class="main-color">
              <a  class="edit-new" (click)="editFacility(fac)">{{i + 1}}</a>
            </td>
            <td>{{fac.name}}</td>
            <td>{{fac.description}}</td>
            <td>{{fac.zone?.name}}</td>
            <td>{{fac.type?.name}}</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>



<!-- right sidebar -->
<div class="right-sbar" id="sbar-add">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar">
      <i class="fa fa-close"></i>
    </span>
    <h4>New facilites</h4>
  </div>

  <form ngNativeValidate #addForm="ngForm" action="" (submit)="createFacility(newFac)">
    <div class="right-sbar-form">

      <input required type="text" name="name" class="form-control" placeholder="name.." id="" [(ngModel)]="newFac.name">

      <textarea required name="description" id="" cols="30" rows="5" placeholder="desciption" class="form-control" [(ngModel)]="newFac.description"></textarea>

      <select required name="zone_id" class="form-control " [(ngModel)]="newFac.zone_id">
        <option value="{{zone.id}}" *ngFor="let zone of zones">{{zone.name}}</option>
      </select>

      <select required name="type_id" class="form-control " [(ngModel)]="newFac.type_id">
        <option value="{{type.id}}" *ngFor="let type of types">{{type.name}}</option>
      </select>
    </div>

    <div class="option-btn">
      <button class="aroc-btn"[disabled]="!addForm.form.valid">Add</button>
      <button class="aroc-btn-2">Cancel</button>
    </div>
  </form>

</div>

<div class="right-sbar" id="sbar-edit">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar2">
      <i class="fa fa-close"></i>
    </span>
    <h4>Edit facilites</h4>
  </div>

  <form ngNativeValidate #editForm="ngForm" action="" (submit)="updateFacility(currentFac)">
    <div class="right-sbar-form">

      <input required type="text" name="name" class="form-control" placeholder="name.." id="" [(ngModel)]="currentFac.name">

      <textarea required name="description" id="" cols="30" rows="5" placeholder="desciption" class="form-control" [(ngModel)]="currentFac.description"></textarea>

      <select required name="zone_id" class="form-control " [(ngModel)]="currentFac.zone_id">
        <option value="{{zone.id}}" *ngFor="let zone of zones">{{zone.name}}</option>
      </select>

      <select required name="type_id" class="form-control " [(ngModel)]="currentFac.type_id">
        <option value="{{type.id}}" *ngFor="let type of types">{{type.name}}</option>
      </select>
    </div>

    <div class="option-btn">
      <button class="aroc-btn" [disabled]="!editForm.form.valid">Update</button>
      <button class="aroc-btn-2">Cancel</button>
    </div>
  </form>

</div>


<!-- Modal -->
<div class="modal fade" id="creatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete the selected zones?</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn p-arco-btn" data-dismiss="modal" (click)="confirmDeleteFacility()"> Confirm </button>
      </div>
    </div>
  </div>
</div>