@import './theme/conf';
@import './theme/base';
@import './theme/fonts';
@import './theme/cover/_card';
@import './theme/cover/_buttons';
@import './theme/cover/_form';
@import './theme/cover/_tables';
@import './theme/cover/_modal';
@import './theme/cover/_pell-editor';
@import './theme/cover/_ng2-select';
.slide-menu ul a{
    color: #000000 !important
}
.slide-menu ul a.slide-menu-control::before{
    content: "Super Admin > "
}

.slide-menu ul a.slide-menu-control{
    text-align: left;
    position: absolute;
    top: -106px;
    left: -14px;
    font-family: 'Avenir-Heavy';
    font-size: 16px;
    color: #242424;
}

.slide-menu ul a.slide-menu-control i{
    margin-right: 6px;
    margin-left: 6px;
}

.mlabel{
    display: block;
    font-weight: 700;
    background: #000000;
    width: 145px;
    height: 42px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    line-height: 1.1em;
    position: absolute;
    top: 21px;
    right: 277px;
    transition: all 200ms ease-in;
    z-index: 5;
}

input[type="checkbox"]{
    display:none;
}
input[type="checkbox"]:checked ~ #s-l-nav .second-sidebar{
    margin-left:198px !important;
    opacity: 1;
    visibility: visible
    
}
// input[type="checkbox"]:checked ~ label{
//     left:260px;
// }
input[type="checkbox"]:checked ~ .pages-content{
   
    margin-left:240px
   
}

.mlabel span{
    cursor: pointer;
    background-color: #c8890b;
    font-size: 14px;
    height: 42px;
    display: inline-block;
    position: relative;
    line-height: 42px;
    right: -13px;
    padding: 0 13px;
}
.mlabel i{
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    color: red;
    font-size: 13px;
    background: #fff;
    position: relative;
    left: 4px;
}

.main-search-group{
    width: 100%;
    padding: 0
}
 .main-search{
    width: 100%;
    margin-bottom: 20px;
    .main-search-input{
        background-color: #fff;
        border: 1px solid #C4CDD5;
        height: 37px;
    }

    .input-group-addon{
        width: 129px !important;
        height: 36px;
        padding: 0;
        .arco-select{
            width: 129px;
            padding: 7px;
            margin:0;
        }
    }
 }

@media screen and (max-width: 1440px) {
    input[type="checkbox"]:checked ~ .pages-content{ margin-left:205px}


}

@media (max-width:970px) {
    input[type="checkbox"]:checked ~ #s-l-nav .second-sidebar{
        margin-left:53px !important;
    }

    input[type="checkbox"]:checked ~ .pages-content {
        margin-left: 244px;
    }
}