<div class="top-page">
  <div class="row">
    <div class=" col-xs-4">
      <h3 class="pagetitle">
        <a href="">types</a>
      </h3>
    </div>

    <div class=" col-xs-8 text-right">
      <div class="top-bar-table">
        <button type="button" class="trash-btn" data-toggle="modal" data-target="#creatModal" [disabled]="checkedList.length == 0">
          <i class="fa fa-trash"></i>
        </button>

        <select class="arco-select" [(ngModel)]="order">
          <option value="">sort by</option>
          <option value="name">Name</option>
          <option value="description">description</option>
        </select>

        <button class="add-new" id="add-new">
          <i class="fa fa-plus"></i>new</button>
      </div>

    </div>
  </div>

</div>

<div class="card card-block animated fadeIn">

  <div class="tableinner">
    <div class="table-responsive">
      <table class="table arco-table ">

        <thead class="h-table">

          <th>
            <input class="checkbox" type="checkbox" id="default-checkbox">
            <label class="check-label" for="default-checkbox"></label>
          </th>
          <th> # </th>
          <th> Name</th>
          <th>category </th>
          <th>desciption</th>
          <th>unit/facility</th>
        </thead>
        <tbody>

          <tr *ngFor="let type of types | orderBy: order; index as i">
            <td>
              <input class="checkbox" name="types_ids{{type.id}}" type="checkbox" id="default-checkbox{{type.id}}" (change)="onCheckboxChange(type,$event)">
              <label class="check-label" for="default-checkbox{{type.id}}"></label>
            </td>
            <td class="main-color">
              <a class="edit-new" (click)="editType(type)">{{i + 1}}</a>
            </td>
            <td>{{type.name}}</td>
            <td>{{type.category_name}}</td>
            <td>{{type.description}}</td>
            <td>{{type.units_count}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- right sidebar -->

<div class="right-sbar" id="sbar-add">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar">
      <i class="fa fa-close"></i>
    </span>
    <h4>New Type</h4>
  </div>

  <form ngNativeValidate #addForm="ngForm" (submit)="createType(newType)">
    <div class="right-sbar-form">

      <input required type="text" class="form-control" placeholder="name.." name="name" [(ngModel)]="newType.name">

      <textarea required name="description" id="" cols="30" rows="5" placeholder="desciption" class="form-control" [(ngModel)]="newType.description"></textarea>

      <select required name="type" [(ngModel)]="newType.category" class="form-control">
        <option value="1">Units</option>
        <option value="2">Facilities</option>
      </select>

    </div>

    <div class="option-btn">
      <button type="submit" class="aroc-btn" [disabled]="!addForm.form.valid">Add</button>
      <button type="button" class="aroc-btn-2" type="button">cancel</button>
    </div>
  </form>

</div>

<div class="right-sbar" id="sbar-edit">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar2">
      <i class="fa fa-close"></i>
    </span>
    <h4>Edit Type</h4>
  </div>

  <form ngNativeValidate #editForm="ngForm" (submit)="updateType(currentType)">
    <div class="right-sbar-form">

      <input required type="text" class="form-control" name="name" [(ngModel)]="currentType.name" placeholder="name.." id="">

      <textarea required name="description" id="" cols="30" rows="5" placeholder="desciption" [(ngModel)]="currentType.description"
        class="form-control"></textarea>

      <select required name="category" id="" class="form-control" [(ngModel)]="currentType.category">
        <option value="1">Unit</option>
        <option value="2">Facility</option>
      </select>

    </div>

    <div class="option-btn">
      <button type="submit" class="aroc-btn" [disabled]="!editForm.form.valid">add</button>
      <button type="button" class="aroc-btn-2">cancel</button>
    </div>
  </form>


</div>



<!-- Modal -->
<div class="modal fade" id="creatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete the selected type?</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn p-arco-btn" data-dismiss="modal" (click)="confirmDeleteType()"> Confirm </button>
      </div>
    </div>
  </div>
</div>