<div class="content-wrap">
  <!-- <a routerLink="/pages/index" *ngIf="routeTitle !== 'Dashboard'" (click)="returnHome()">Home</a> -->
  <i *ngIf="routeTitle !== 'Dashboard'">>></i>
  <span>{{routeTitle}}</span>
</div>
