@import "../../theme/conf";
.content-wrap {
    width: 100%;
    height: auto;
    padding: 50px 50px 50px 0;
    span,a{
        color: #242424;
        font-size: 36px;   
        margin: 0;
    }
 
}


a,
span {
    display: inline-block;
    text-transform: uppercase;
    color: rgba($fonts-color, .7);
    font-size: $sm-text+1;
    margin-bottom: 20px;
}

a:hover {
    color: $primary;
    text-decoration: none;
}

i {
    font-size: $default-text;
    color: rgba($fonts-color, .5);
    font-weight: 700;
    margin: 0 3px;
}

span {
    color: $fonts-color;
}