<div class="login-page">
  <div class="container-fluid">


    <div class="container">
      <div class="loginme-inner">

        <div class="loginme-content">
          <div class="row">

            <div class="col-md-6">
              <div class="loginme-title">
                <h2>so suite</h2>
              </div>

              <div class="loginme-form">
                <h3>Sign in</h3>
                <form action="" (submit)="login();">
                  <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <input type="email" required class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" [(ngModel)]="email">
                  </div>
                  <div class="form-group">
                    <!-- <label for="exampleInputPassword1">Password</label> -->
                    <input type="password" required class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" [(ngModel)]="password">
                  </div>

                  <button type="submit" class="btn btn-default">
                    <i class=" fa fa-play"></i>
                  </button>
                </form>
              </div>

            </div>



          </div>
        </div>
      </div>
    </div>

    <div class="img-holder-right col-md-6 ">
      <div class="background-imgholder-right">
        <img src="" alt="">
      </div>
    </div>

  </div>
</div>