.login-page{
 background: #fcfaf8;
 position: relative;
 overflow: hidden;

    .loginme-inner{
        display:table;
        width: 100%;
        height: 100vh;
        text-align: center;
    }
        .loginme-content{
            display: table-cell;
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }
    .loginme-title{
        text-align: left;
        font-size: 30px;
        margin-bottom: 40%;
        text-transform: capitalize;
        h2{
            font-size: 45px;
        color: #000;
            
        }
    }

    .loginme-form{
        text-align: left;

        h3{
            font-size: 30px;
            color: #4A4A4A;
            margin-bottom: 55px;
            font-family: 'Noto Sans', sans-serif;
            font-weight: bold
            
        }
        .form-control{
            background-color: #fff;
            padding: 20px;
            height: auto;
            font-size: 18px;
            color: #4A4A4A;
        }
        button{
            background: #EEC87D;
            width: 60px;
            height: 60px;
            line-height: 50px;
            color: #000;
            font-size: 19px;
            margin-left: 10px;
        }
    
    }

    }

  
 .img-holder-right {
    overflow: hidden;
    padding: 0px;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    padding: 0;
    height: 100%;}
    .background-imgholder-right{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-color:#eec87d
        }