<div class="top-page">
  <div class="row">
    <div class=" col-xs-4">
      <h3 class="pagetitle">
        <a href="">units</a>
      </h3>
    </div>

    <div class=" col-xs-8 text-right">
      <div class="top-bar-table">
        <button type="button" class="trash-btn" data-toggle="modal" data-target="#creatModal"  [disabled]="checkedList.length == 0">
          <i class="fa fa-trash"></i>
        </button>

        <select class="arco-select" [(ngModel)]="order">
          <option value="">sort by</option>
          <option value="name">Name</option>
          <option value="description">description</option>
        </select>

        <button class="add-new" id="add-new">
          <i class="fa fa-plus"></i>new</button>
      </div>

    </div>
  </div>

</div>


<div class="card card-block animated fadeIn">

  <div class="tableinner">
    <div class="table-responsive">
      <table class="table arco-table ">

        <thead class="h-table">

          <th>
            <input class="checkbox" type="checkbox" id="default-checkbox">
            <label class="check-label" for="default-checkbox"></label>
          </th>
          <th> # </th>
          <th> Name</th>
          <th>desciption</th>
          <th>type</th>
          <th>zone</th>
        </thead>
        <tbody>

          <tr *ngFor="let unit of units | orderBy: order; index as i">
            <td>
              <input class="checkbox" name="units_ids{{unit.id}}" type="checkbox" id="default-checkbox{{unit.id}}" (change)="onCheckboxChange(unit,$event)">
              <label class="check-label" for="default-checkbox{{unit.id}}"></label>
            </td>
            <td class="main-color">
              <a class="edit-new" (click)="editUnit(unit)">{{i + 1}}</a>
            </td>
            <td>{{unit.name}}</td>
            <td>{{unit.description}}</td>
            <td>{{unit.type?.name}}</td>
            <td>{{unit.zone?.name}}</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>



<!-- right sidebar -->

<div class="right-sbar" id="sbar-add">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar">
      <i class="fa fa-close"></i>
    </span>
    <h4>new unit </h4>
  </div>

  <form ngNativeValidate #addForm="ngForm" (submit)="createUnit(newUnit)">
    <div class="right-sbar-form">

      <input required type="text" class="form-control" placeholder="name.." id="" name="name" [(ngModel)]="newUnit.name">

      <textarea required name="" id="" cols="30" rows="5" placeholder="desciption" name="desciption" class="form-control" [(ngModel)]="newUnit.description"></textarea>

      <select required name="zone_id" class="form-control " [(ngModel)]="newUnit.zone_id">
        <option value="{{zone.id}}" *ngFor="let zone of zones">{{zone.name}}</option>
      </select>

      <select required name="type_id" class="form-control " [(ngModel)]="newUnit.type_id">
        <option value="{{type.id}}" *ngFor="let type of types">{{type.name}}</option>
      </select>

    </div>
    <div class="option-btn">
      <button type="submit" class="aroc-btn" [disabled]="!addForm.form.valid">add</button>
      <button type="button" class="aroc-btn-2">cancel</button>
    </div>
  </form>

</div>

<div class="right-sbar" id="sbar-edit">
  <div class="right-sbar-head">
    <span class="close-r-sidebar" id="close-r-sidebar2">
      <i class="fa fa-close"></i>
    </span>
    <h4>edit unit</h4>
  </div>

  <form ngNativeValidate #editForm="ngForm" (submit)="updateunit(currentUnit)">
    <div class="right-sbar-form">

      <input required type="text" class="form-control" placeholder="name.." id="" name="name" [(ngModel)]="currentUnit.name">

      <textarea required name="" id="" cols="30" rows="5" placeholder="desciption" name="desciption" class="form-control" [(ngModel)]="currentUnit.description"></textarea>

      <select required name="zone_id" class="form-control " [(ngModel)]="currentUnit.zone_id">
        <option value="{{zone.id}}" *ngFor="let zone of zones">{{zone.name}}</option>
      </select>

      <select required name="type_id" class="form-control " [(ngModel)]="currentUnit.type_id">
        <option value="{{type.id}}" *ngFor="let type of types">{{type.name}}</option>
      </select>

    </div>
    <div class="option-btn">
      <button type="submit" class="aroc-btn" [disabled]="!editForm.form.valid">update</button>
      <button type="button" class="aroc-btn-2" type="button">Cancel</button>
    </div>
  </form>

</div>



<!-- Modal -->
<div class="modal fade" id="creatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete the selected units?</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn p-arco-btn" data-dismiss="modal" (click)="bulkDeleteUnit()"> Confirm </button>
      </div>
    </div>
  </div>
</div>