@font-face {
    font-family: 'Avenir-Roman';
    src: url('assets/fonts/Avenir-Roman.woff2') format('woff2'),
        url('assets/fonts/Avenir-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('assets/fonts/Avenir-Heavy.woff2') format('woff2'),
        url('assets/fonts/Avenir-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('assets/fonts/Avenir-Medium.woff2') format('woff2'),
        url('assets/fonts/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@import 'node_modules/angular2-toaster/toaster';

*,p,a,span{
    // font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    outline: 0;
    font-family: 'Avenir-Medium';
}
h1,h2,h3,h4,h5{
    font-family: 'Avenir-Heavy';
}

.top-page a{
    color: #242424;
    font-size: 32px;
    text-transform: capitalize;
    text-decoration: none !important
}

.arco-table{
    text-align: center
}

.h-table th{
    background-color: #EFE2C8;
    padding: 20px 20px !important;
    text-align: center;
    text-transform: capitalize;
}
.arco-table  tbody > tr > td{
   padding: 20px;
}

.arco-table td.main-color{
    color: #9C6F19  !important;
    font-weight: bold
}
.add-new{
    background-color: #EEC87D ;
    padding:7px 35px;
    color: #000;
    border: 0;
    text-transform: capitalize
}
.add-new i{
    margin-right: 8px;
}
.arco-select{
    background-color: #F0F1FC;
    padding:7px 70px 7px 10px;
    border: none;
    margin: 0 10px  
    
}

.trash-btn{
    background: none;
    border: 0;
    font-size: 25px;
    color: #424242;
    margin-right: 60px;
}
.trash-btn[disabled]{
    opacity: 0.5;
    cursor: no-drop
}
.btn{
    text-transform: capitalize
}
.modal-footer{

 .btn{
    border-radius: 3px;
    width: 77px;
    height: 36px;
    text-align: center
    }

    .btn-default{
        background: #F0F1FC;
        color: #424242
    }
    .p-arco-btn{
        background: #e8c276;
        color: #424242;
    }
    
}
.top-page{
    padding: 40px 0;
}

.edit-new{cursor: pointer;color: #9C6F19 }

.right-sbar,.sright-sbar{
    width: 280px;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 5px 0 34px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    right: -280px;
    height: 100%;
    padding: 100px 20px 20px 20px;
    overflow: scroll;
    transition:0.2s linear
}
.right-sbar,.sright-sbar {
    .form-control{
        margin-bottom: 15px;

    }
}
.right-sbar,.sright-sbar { 
    .form-control:not(select){
    background: rgba(239,226,200,0.47);
    }
    textarea{
    background: rgba(239,226,200,0.47);
    }
    select{
        background-color:#f9fafb;
    }
    .option-btn{
        
    }
.aroc-btn,.aroc-btn-2{
    padding: 15px;width: 49%;
    margin: 0;
}

}

.aroc-btn{
background-color: #EEC87D;
color: #242424;
border: none;
text-transform: capitalize

}

.aroc-btn-2{
    background-color: #EFE2C8;
    color: #9C6F19 ;
    border: none;
    text-transform: capitalize
    }
    
    .right-sbar-head{margin-bottom: 30px;
        h4{
            text-transform: capitalize;
            font-family: 'Noto Sans', sans-serif;
            
        }
    }
    .right-sbar.open-right-sbar{
         right: 0;
   }
    .pages-content.open-r-sidebar{
        margin-right: 278px;
    }
    .close-r-sidebar{
        float: right;
        width: 20px;
        height: 20px;
        background-color: #eec87d;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
    }
    .modal-title{
    text-transform: capitalize;
    font-family: 'Noto Sans', sans-serif;
    }

    .arco-notf{
        background-color: #EFE2C8 ;
        color: #9C6F19;
        padding: 2px 15px;
        border-radius: 20px;
    }

    .quest,.quest-list{
        border: 1px solid #eec87d;
        padding: 15px 10px;
        border-radius: 6px;
        background-color: #fff7e8;
        margin: 10px 0;
        font-size: 11px;
        list-style: none
    }

   .quest-list li{
    border-radius: 6px;
    padding: 7px;
    background: #f9ecd5;
    margin: 10px 0;
   }

    .right-sbar-form{margin-bottom: 30px;}
    .aroc-btn[disabled]{
        opacity: 0.5;
        cursor: no-drop;
    }

    .aroc-btn-4{ background-color: #d9534f;color: #fff}
    .aroc-btn-3,.aroc-btn-4{
        padding: 10px !important;
        margin-bottom: 15px;
        width: 98% !important;
        margin-bottom:15px !important 
    }
    .img-icon{
        font-size: 24px;
        color: #eec87d !important;
        outline: 0 !important;
    }