<div class="top-page">
  <div class="row">
    <div class=" col-xs-4">
      <h3 class="pagetitle">
        <a href="">parties</a>
      </h3>
    </div>

    <div class=" col-xs-8 text-right">
      <div class="top-bar-table">
        <button type="button" class="trash-btn" data-toggle="modal" data-target="#creatModal" [disabled]="checkedList.length == 0">
          <i class="fa fa-trash"></i>
        </button>

        <select class="arco-select">
          <option value="sort by">sort by</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>

        <button class="add-new" id="add-new">
          <i class="fa fa-plus"></i>new</button>
      </div>

    </div>
  </div>

</div>

<div class="card card-block animated fadeIn">

  <div class="tableinner">
    <div class="table-responsive">
      <table class="table arco-table ">

        <thead class="h-table">

          <th>
            <input class="checkbox" type="checkbox" id="default-checkbox1">
            <label class="check-label" for="default-checkbox1"></label>
          </th>
          <th> # </th>
          <th> Name</th>
          <th>category </th>
          <th>desciption</th>
          <th>unit/facility</th>
        </thead>
        <tbody>

          <tr>
            <td>
              <input class="checkbox" type="checkbox" id="default-checkbox2">
              <label class="check-label" for="default-checkbox2"></label>
            </td>
            <td class="main-color">Mohsin</td>
            <td>one</td>
            <td>tow</td>
            <td>three</td>
            <td>four</td>
          </tr>

          <tr>
            <td>
              <input class="checkbox" type="checkbox" id="default-checkbox2">
              <label class="check-label" for="default-checkbox2"></label>
            </td>
            <td class="main-color">Mohsin</td>
            <td>Irshad</td>
            <td>tow</td>
            <td>three</td>
            <td>four</td>
          </tr>


          <tr>
            <td>
              <input class="checkbox" type="checkbox" id="default-checkbox2">
              <label class="check-label" for="default-checkbox2"></label>
            </td>
            <td class="main-color">Mohsin</td>
            <td>Irshad</td>
            <td>tow</td>
            <td>three</td>
            <td>four</td>
          </tr>

          <tr>
            <td class="main-color">
              <input class="checkbox" type="checkbox" id="default-checkbox2">
              <label class="check-label" for="default-checkbox2"></label>
            </td>
            <td class="main-color">Mohsin</td>
            <td>Irshad</td>
            <td>tow</td>
            <td>three</td>
            <td>four</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


<!-- right sidebar -->

<div class="right-sbar">
  <div class="right-sbar-head">
    <span id="close-r-sidebar">
      <i class="fa fa-close"></i>
    </span>
    <h4>new</h4>
  </div>

  <div class="right-sbar-form">

    <input required type="text" class="form-control" placeholder="name.." id="">

    <textarea required name="" id="" cols="30" rows="5" placeholder="desciption" class="form-control"></textarea>

    <input type="text" class="form-control" placeholder="contact person" id="">

    <select name="" id="" class="form-control">
      <option value="types">company</option>
      <option value="types">company 2</option>
    </select>

    <input type="text" class="form-control" placeholder="address" id="">
    <input type="text" class="form-control" placeholder="city" id="">
    <input type="text" class="form-control" placeholder="postal code" id="">
    <input type="text" class="form-control" placeholder="state " id="">
    <input type="text" class="form-control" placeholder="country" id="">
    <input type="email" class="form-control" placeholder="Email id" id="">
    <input type="text" class="form-control" placeholder="phone" id="">
    <input type="text" class="form-control" placeholder="fax" id="">

    <div class="option-btn">
      <button class="aroc-btn">add</button>
      <button class="aroc-btn-2">cancel</button>
    </div>

  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="creatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">are you sure ? </h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <button type="button" class="btn p-arco-btn"> delete </button>
      </div>
    </div>
  </div>
</div>